

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1{
    text-align: center;
    color: white;
    font-family: bahnschrift;
    font-weight: 600;
    font-size: 9vw;
    line-height: 0.55;
    background-color: black;
    padding-top: 9px;
}
h2{
    text-align: center;
     color: black;
     font-family: bahnschrift;
     font-size: 3vw;
}
.symbol-box{
    float: left;
    width: 25%;
    margin-left: 6.25%;
    margin-top: 6.25%;
}
#scale-picture:hover{
    content: url("pictures/scale_inverted.svg");
}